.products-category-container {
	width: 100%;

	display: flex;
	flex-wrap: row;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

.product-card-category {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	width: 100%;
	padding: 30px;

	background-color: white;
	border-radius: 15px;
	border-bottom: solid 1px rgb(213, 209, 209);
}
.product-card-category img {
	min-width: 160px;
	max-width: 160px;

	min-height: 160px;
	max-height: 160px;

	object-fit: contain;
}

.product-card-category--info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	width: 100%;
	padding-left: 30px;

	font-size: 2rem;
	color: rgba(0, 0, 0, 0.877);
}

.product-card-category--info span {
	font-size: 4rem;
	font-weight: 300;
}

.green {
	color: #00a650;
	font-size: 16px;
	line-height: 1.3;
	margin-bottom: 2px;
	font-weight: 600;
}

.product-info--rating::before {
	content: '★';
	color: #3483fa;
}
