.carrousel {
	width: 600%;
	height: 50vh;

	color: black;
	background-color: white;
	overflow: hidden;

	transition: all 0.4s ease;

	> div {
		@include center-content;
		flex-flow: row nowrap;
		justify-content: space-between;

		width: 100%;
		height: 50vh;

		color: black;
		transition: all 0.5s ease;
		transform: translateX(-0%);
		img {
			width: calc(100% / 6);
			height: 50vh;
			min-height: 10vh;

			color: black;
			border-radius: 1em;
			background-color: white;
			object-fit: cover;

			transition: all 0.4s ease;
		}
	}
}

.btnChangeImgContainer {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 15vh;

	display: flex;
	justify-content: space-between;

	width: 100vw;
	height: 50vh;

	margin: 0;
	padding: 0px 10px 0px 10px;

	.btnChangeImg {
		margin: 0;
		padding: 0;
		height: 100%;

		background-color: transparent;
		border: none;
		font-size: $font-size-extra;
		color: transparent;
	}

	.btnChangeImg:hover {
		color: $font-color;
	}
}
