.barraBusquedaContainer {
	display: flex;
	align-items: center;

	width: 100%;

	background-color: $color-claro;

	img {
		height: 3vh;
	}
	input {
		height: 5vh;
		width: 100%;

		border: none;
		color: $font-color;
		border-right: 1px solid $color-oscuro;
		padding-left: 15px;
	}

	input::placeholder {
		font-family: $fuente-primaria;
		font-weight: $font-weight-bold;
	}

	@media screen and(max-width: 800px) {
		margin-right: 0;
		width: 50vw;
		input {
			height: 5vh;
		}
	}
}
