.barraBusquedaContainer {
	display: flex;
	align-items: flex-end;

	width: 100%;

	background-color: white;
}
.barraBusquedaContainer img {
	height: 30px;
	border-left: 1px solid black;
}
.barraBusquedaContainer input {
	height: 30px;
	width: 100%;
	border: none;
	color: black;
}

.barraBusquedaContainer input::placeholder {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding-left: 10px;
}
