.navigation-header {
	width: 100%;
}

.categories {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 100%;
}

.categories a {
	text-decoration: none;
	font-size: 15px;
	font-weight: 700;
}
