.header {
	@include center-content;
	flex-direction: row;
	justify-content: space-around;

	width: 100vw;
	height: 15vh;
	padding-top: 3vh;

	background-color: $color-variacion;
	overflow-x: hidden;

	> span {
		display: none;
	}
}

.header__leftBlock {
	@include center-content;
	align-items: flex-start;
	height: 15vh;

	img {
		height: 13vh;
	}
}

.header__centralBlock {
	@include center-content;
	justify-content: space-between;
	align-items: flex-start;

	height: 100%;
	width: 45vw;
	margin-right: 5vw;
}

.header__rightBlock,
.header__rightBlock-smScreen {
	@include center-content;
	justify-content: space-evenly;

	height: 15vh;
	width: 30%;
	margin: 0;

	h2 {
		margin: 0;
		width: 100%;

		a {
			font-size: $font-size-mediano;
			text-align: center;
		}
	}

	ul {
		display: flex;
		justify-content: space-around;

		width: 100%;
		margin: 0;
		padding: 0;

		list-style: none;
	}
	li {
		@include center-content;
		align-items: flex-end;
		a {
			text-decoration: none;
			font-size: $font-size-pequeño;
			font-weight: $font-weight-bold;
		}
	}
}

.car {
	position: absolute;
	top: 1.5vh;
	right: 0.8vw;

	img {
		height: 3vw;
	}
	.count-car {
		position: relative;
		bottom: -0.8vw;
		left: 0.2vw;

		font-weight: $font-weight-bold;
		font-size: $font-size-pequeño;
	}
}

@media screen and(max-width: 800px) {
	.header {
		> span {
			display: flex;
			justify-content: center;

			height: 15vh;
			margin-right: 3vw;

			font-size: $font-size-extra;
			font-weight: $font-weight-semi-bold;
			color: $color-oscuro;
			text-justify: center;
		}
	}
	.header__leftBlock {
		display: none;
	}
	.header__rightBlock {
		display: none;
	}
	.header__rightBlock-smScreen {
		@include center-content;
		width: 100vw;
		height: 15vh;

		position: absolute;
		top: 15vh;
		z-index: 1;
		text-align: center;

		background-color: $color-claro;

		h2 {
			a {
				font-size: $font-size-grande;
				font-weight: $font-weight-bold;
			}
		}
		ul {
			@include center-content;
			flex-direction: column;
		}
		li {
			a {
				font-size: $font-size-mediano;
				font-weight: $font-weight-semi-bold;
			}
		}
	}
	.car {
		@include center-content;
		justify-content: flex-start;

		height: 15vh;
		margin-right: 3vw;
		margin-bottom: 2vh;

		position: static;
		img {
			height: 7vw;
			margin: 0;
		}
		.count-car {
			position: relative;
			bottom: -0.7em;
			left: 0em;

			margin: 0;

			font-size: 2.5rem;
			font-weight: $font-weight-bold;
		}
	}
}

@media screen and(max-width: 400px) {
	.header {
		> span {
			font-size: $font-size-grande;
			margin-bottom: 1vh;
		}
	}

	.header__rightBlock-smScreen {
		// @include center-content;
		// width: 100vw;
		// height: 15vh;

		// position: absolute;
		// top: 15vh;
		// z-index: 1;

		// background-color: $color-claro;

		h2 {
			a {
				font-size: $font-size-mediano;
				font-weight: $font-weight-bold;
			}
		}
		li {
			a {
				font-size: $font-size-pequeño;
				font-weight: $font-weight-normal;
			}
		}
	}

	.car {
		img {
			height: 9vw;
		}
		.count-car {
			bottom: -0.7em;
			font-size: $font-size-pequeño;
		}
	}
}
