.header {
	width: 100vw;
	height: 15vh;

	display: flex;
	justify-content: space-around;

	background-color: #fff159;
}

.header__leftBlock {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;

	margin-left: 40px;

	height: 100%;
	width: 25%;
}

.logoContainer {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 70%;
	width: 180px;
}

.logoContainer img {
	height: 100%;
}
.count-car {
	position: relative;
	bottom: 15px;
	left: 8px;
}

.ubicacionContainer {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	height: 30%;
	width: 180px;
}

.ubicacionContainer h2 {
	height: 80%;
	line-height: 8px;
	margin: 0;
	padding: 0;
}

.ubicacionContainer a {
	text-decoration: none;
	font-size: 15px;
	align-self: flex-start;
}

.ubicacionContainer img {
	height: 15px;
}

.header__centralBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	height: 100%;
	width: 45%;
}

.header__rightBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;

	height: 15vh;
	width: 30%;
}

.header__rightBlock ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	width: 100%;
}

.header__rightBlock h2 {
	margin: 0;
	width: 100%;
	font-size: 16px;
	text-align: center;
}
.header__rightBlock img {
	height: 20px;
}

.header__rightBlock a {
	text-decoration: none;
	font-size: 15px;
	font-weight: 700;
}
