.car-container {
	@include center-content;
	flex-direction: row;
	justify-content: space-between;

	min-width: 300px;
	width: 55vw;
	height: 100px;
	margin: 5vh auto;

	font-weight: $font-weight-semi-bold;
	background-color: $color-claro;
	border-bottom: 1px solid $color-primario;
	font-size: $font-size-pequeño;

	div:nth-child(1) {
		@include center-content;
		flex-direction: row;

		img {
			width: 50px;
			height: 50px;
			margin-right: 10px;
		}

		p:nth-child(1) {
			font-size: $font-size-mediano;
			font-weight: $font-weight-light;
			margin: 0;
			color: $color-oscuro;
		}
	}

	div:nth-child(2) {
		@include center-content;
		justify-content: center;
		height: 100%;

		p {
			font-size: $font-size-mediano;
			font-weight: $font-weight-light;
			margin: 0;
			color: $color-oscuro;
		}

		button {
			margin: 0;
			background-color: transparent;
			border: none;
			color: red;
		}
	}

	@media screen and(max-width: 400px) {
		p {
			font-size: $font-size-pequeño;
		}
	}
}
