$fuente-primaria: 'Roboto', sans-serif;
$color-primario: #ebebeb;
$color-claro: #ffffff;
$color-oscuro: #000000;
$color-variacion: #33b1ff;
$color-discount: #01b558;
$font-color: rgb(60, 60, 60);

$font-size-extra-pequeño: 1.2rem;
$font-size-pequeño: 1.5rem;
$font-size-mediano: 2rem;
$font-size-grande: 4rem;
$font-size-extra: 6rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

@mixin center-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@mixin green {
	color: #00a650;
	font-size: $font-size-mediano;
	line-height: 1.3;
	margin-bottom: 2px;
	font-weight: $font-weight-semi-bold;
}
@mixin button-style {
	border: none;
	background-color: $color-variacion;
	color: $color-claro;

	font-size: $font-size-pequeño;
	font-weight: $font-weight-semi-bold;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: $fuente-primaria;
	width: 100vw;
	color: $font-color;
	overflow-x: hidden;
}

a {
	color: $font-color;
	text-decoration: none;
}

a:hover {
	color: $color-claro;
	text-decoration: none;
}

button {
	transition: all 0.3s ease-in-out;
}

button:active {
	transform: translate(2px, 2px);
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
}

.green {
	@include green;
}
